<p style="color: green"><%= notice %></p>
<%= render @notice %>
<div>
  <h2>comentarios</h2>
  <ul>
    <%@comments.each do |comment|%>
      <li><%= comment.comment %> <%= button_to "Eliminar este comentario", comment, method: :delete, :class =>"link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" %></li>
    <% end %>
  </ul>
  <h2>Agregar Comentario</h2>
  <%= form_with(model: [@notice, @comment], local: true) do |f| %>
    <%= f.text_area :comment %>
    <%= f.submit 'agregar comentario'%>
  <%end%>
  <%= link_to "Volver a noticias", notices_path, :class =>"link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" %>
</div>
